
#
default: &default
  adapter: postgresql
  encoding: unicode

  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: tdd-api_development


test:
  adapter: postgresql
  database: travis_ci_test


production:
  <<: *default
  database: tdd-api_production
  username: tdd-api
  password: <%= ENV['TDD-API_DATABASE_PASSWORD'] %>
